{% extends 'layout.html' %}

<!-- {% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %} -->

{% block content %}
<div class="container">
  <h1>Game room</h1>
  <button onclick="loadSocket()">Join Room</button>
</div>

<script type="text/javascript" charset="utf-8">
  let socket;

  function loadSocket() {
    socket = io("http://127.0.0.1:5000/");
    socket.emit("join")
  }
</script>

<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
{% endblock %}
