{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <h1>Game room</h1>
    <h4 id="turn-status"></h4>

    {% if is_host %}
      <p id="share-room"><b>Share room id:</b> {{ room_id }}</p>
      <button disabled onclick="onStart()" id="start-button">Start game</button>
    {% endif %}

    <div id="board">
    </div>
  </div>

  {% block javascript %}
    <script type="text/javascript">
      const gameId = {{ room_id|tojson }};
      const playerId = {{ player_id|tojson }};
      const moves = {{ moves|tojson|safe }};
      const isHost = {{ is_host|tojson }}
      const PUBLIC_URL = {{ public_url|tojson }}
    </script>
    <script src="{{ url_for('static', filename='game.js') }}" type="text/javascript"></script>
  {% endblock %}
{% endblock %}
