{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <h1>Welcome to Gonline!</h1>
    <p>An amazing online multiplayer Go. Enjoy!</p>

    <h4>Create a room</h4>
    <button onclick="createRoom()">Create a room</button>

    <h4>Or join one</h4>
    <div class="container">
      <input placeholder="Room Id" id="game-id-field">
      <button type="submit" onclick="onJoin()">Join room</button>
    </div>
  </div>

  {% block javascript %}
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
  {% endblock %}
{% endblock %}
